.item-tray {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  overflow-y: hidden;
  padding: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.chip-tray {
  margin-left: 2rem;
}

.search {
  font-family: Poppins;
  width: 300px;
  height: 45px;
  font-size: 16px;
  padding-left: 1rem;
  border: 3px solid rgba(0, 0, 0, 0.14);
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  width: auto;
  height: auto;
  padding: 2rem;
  background-color: grey;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
}

.title-text {
  font-size: 36px;
}

.flex {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  width: calc(100vw * 0.5) !important;
  margin-bottom: 0.5rem;
}

.card-md {
  width: auto;
  height: 100px;
  padding: 20px;
  border-radius: 5px;
  /* margin-right: 20px; */
  display: flex;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-lg {
  width: auto;
  height: 150px;
  padding: 20px;
  border-radius: 5px;
  /* margin-right: 20px; */
  margin-bottom: 15px;
  align-items: flex-end;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  color: black;
  text-align: center;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.head {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .item-tray {
    width: calc(100vw - 2rem - 10px);
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .flex {
    flex-direction: column;
  }

  .section {
    width: calc(100vw - 2rem - 10px) !important;
  }

  .search {
    position: absolute;
    top: 90px;
    left: 0;
    margin-left: 1rem;
    width: calc(100vw - 3rem - 6px);
  }

  .header {
    margin-top: 82px;
  }
}
