.floating-menu {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 100%;
  height: 2.1rem !important;
  width: 2.1rem !important;
  pointer-events: auto !important;
  display: flex;
  position: fixed;
  background-color: white !important;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.floating-menu-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 100%;
  height: 2.1rem;
  width: 2.1rem;
  pointer-events: auto !important;
  display: flex;
  opacity: 1;
  position: initial !important;
  background-color: white !important;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.floating-menu > svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 32px;
  margin: auto;
  width: 32px;
  transition: all 0.2s ease-in;
}

.float-select {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: none;
  user-select: none;
  position: none;
  opacity: 0;
}

.float-select:checked + svg {
  transform: rotate(45deg);
}

.float-select:checked ~ .float-container {
  display: flex;
  left: 40px;
  opacity: 1;
}

.float-container {
  display: none;
  opacity: 0;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in;
}

.float-container > * {
  margin-right: 5px;
}

.menu {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row-reverse;
}

.menu > button {
  margin-left: 2rem;
}

.container {
  margin-top: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

p [content-editable] {
  height: 10px;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
  display: inline;
}

@media (min-width: 480px) {
  .delete {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .floating-menu-item {
    height: 3.5rem !important;
    width: 3.5rem !important;
  }
  .floating-menu {
    top: initial !important;
    left: initial !important;
    bottom: 6rem;
    display: initial !important;
    right: 1rem;
    height: 3.5rem !important;
    width: 3.5rem !important;
  }

  .float-container {
    flex-direction: column;
  }

  .float-select:checked ~ .float-container {
    display: flex;
    left: 0;
    top: -13.6rem;
    opacity: 1;
  }

  .float-container > * {
    margin-right: 0;
    margin-top: 0.8rem;
  }

  .publish {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    display: none;
  }

}
