.no-text-title {
  font-size: 2rem;
  max-width: 50vw;
  width: 50vw;
  text-align: left !important;
  user-select: none;
  color: var(--Grey);
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: inline;
  color: #aaa;
}

.no-text-content {
  font-size: 1.1rem;
  max-width: 50vw;
  width: 50vw;
  text-align: left !important;
  user-select: none;
  color: var(--Grey);
}

.menu {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row-reverse;
}

.container {
  margin-top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

p [content-editable] {
  height: 10px;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
  display: inline;
}

.article-heading {
  font-size: 2rem;
  max-width: 50vw;
  width: 50vw;
  text-align: left !important;
  word-wrap: break-word;
  word-break: break-all;
}

.article-content {
  font-size: 1.1rem;
  max-width: 50vw;
  width: 50vw;
  text-align: left !important;
  word-wrap: break-word;
  word-break: break-all;
}

.item-tray {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  overflow-y: hidden;
  padding: 5px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.chip-tray {
  margin-left: 2rem;
}

.search {
  font-family: Poppins;
  width: 300px;
  height: 45px;
  font-size: 16px;
  padding-left: 1rem;
  border: 3px solid rgba(0, 0, 0, 0.14);
  outline: none;
}

.header {
  width: auto;
  height: auto;
  padding: 2rem;
  background-color: grey;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  color: var(--White);
  align-items: center;
}

.title-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.flex {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

p {
  margin-top: 0;
  outline: none;
}

.section {
  display: flex;
  flex-direction: column;
  width: calc(100vw * 0.5) !important;
  margin-bottom: 0.5rem;
}

.icon-button {
	padding-top: 5px;
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: fixed;
	bottom: 2rem;
	right: 1rem;
}

.publish {
	display: none;
}

.card-md {
  width: auto;
  height: 100px;
  padding: 20px;
  background-color: white;
  color: var(--Black);
  border-radius: 5px;
  /* margin-right: 20px; */
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-lg {
  width: auto;
  height: 150px;
  padding: 20px;
  border-radius: 5px;
  /* margin-right: 20px; */
  margin-bottom: 15px;
  align-items: flex-end;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  color: black;
  text-align: center;
  border-radius: 10px;
  background-color: #13e8e6f7;
}

.head {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .item-tray {
    width: calc(100vw - 2rem - 10px);
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .flex {
    flex-direction: column;
  }

  .section {
    width: calc(100vw - 2rem - 10px) !important;
  }

	.publish {
		display: initial;
	}

  .search {
    position: absolute;
    top: 90px;
    left: 0;
    margin-left: 1rem;
    width: calc(100vw - 3rem - 6px);
  }

  .header {
    margin-top: 82px;
  }

  .menu {
    display: none;
  }

  .container {
	margin-top: 82px;
  	padding-left: 1rem;
	padding-right: 1rem;
  }

  .no-text-content,
  .article-content {
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
  }

  .no-text-title,
  .article-heading {
    font-size: 1.5rem;
    width: 100%;
    max-width: 100%;
  }
}
