.slider {
  width: 100%;
  height: 500px;
}

.wrap {
  overflow: hidden;
  position: relative;
  background: #222;
  z-index: 1;
}

#items {
  width: 10000px;
  position: relative;
  top: 0;
  left: -100vw;
}

.slide:nth-child(1) {
	background-color: red;
}
.slide:nth-child(2) {
	background-color: blue;
}

#items.shifting {
  transition: left .2s ease-out;
}

.slide {
  width: 100vw;
  height: 500px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: #FFCF47;
}

.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev:active,
.next:active {
  transform: scale(0.8);
}
