.showslider{
    width:1200px;
    height:500px;
    overflow:hidden;
    box-shadow:2px 2px 10px black;

}

.middle{
 position: relative;
    top: 0px;
    left: 50px;
     
}
.navigation{
    position:absolute;
    bottom:5%;
    left:41%;
    transform:translateX(50%);
    display:flex;
}
.bar{
    width: 20px;
    height: 10px;
    border: 2px solid #03e9f4;
    margin: 10px;
     border-radius:2px; 
    transition: 0.5s;
     cursor:pointer;
}
.bar:hover{
    background:#03e9f4 ;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
input[name="a"]{
    position:absolute;
    visibility:hidden;
}
.slides{
width:500%;
height:100%;
display:flex;
}
.slide{
width:20%;
transition:0.6s;
}
.slide img{
    width:100%;
    height:100%
}
#a1:checked ~ .s1{
    margin-left:0%;
}
#a2:checked ~ .s1{
    margin-left:-20%;
}
#a3:checked ~ .s1{
    margin-left:-40%;
}
