.fragment{

height: 500px;
border-radius: 10px;
margin: 1%;
position:relative;
display:flex;
align-items: center;
justify-content: center;
border: 2px solid black;
overflow:scroll;
scroll-behavior: smooth;
flex-direction: column;
flex-wrap: wrap;
}

.imageBack{

    width: 100vw;
    height: 500px;
    border-radius: 10px;
    flex: 1;
    
}

.upperLayer{
    position:absolute;

}