.fragment {
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-direction: column;
  flex-wrap: wrap;
}

.super div svg {
	height: 50px;
	width:  50px;
}

.super div svg path {
	fill : white
}

.super {
  height: 500px;
  position: relative;
}

.imageBack {
  position: relative;
  width: 100vw;
  height: 500px;
  
}

.forward {

  position:absolute;
  top: 200px;

  position: absolute;
  top: 225px;

  right: 10px;
}

.backward {
  position: absolute;
  top: 225px;
  left: 10px;
}
