.center{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.sea {
	margin-top: 1rem;
	font-size: 1.5rem;
}

.sea span {
	color:  var(--PrimaryColor);
}

.subsection {
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--Grey);
}

.close-search {
	height: 18px;
	width: 18px;
	margin-right: 0.5rem;
	display: none;
}

.close-search svg {
	height: 18px;
	width: 18px;
}

.close-search svg path {
	fill : var(--Black) !important;
}

.search-button {
	background-color: white !important;
	height: 36px;
	width: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.rem-form {
	background-color: white;
    flex-direction: row;
	height: 50px;
	margin-right: 2rem;
	position: initial;
	display: flex;
	align-items: center;
	border-radius: 8px;
	outline: 0px;
	border: 0px;
	transition: width 0.1s ease-in-out;
	transition-delay: 0.3s;
}

.rem-form input {
	width: 0;
	border: none;
	padding: 0;
	font-size: 1rem;
	transition: 0.3s ease-out;
}

.active-input {
	width: 300px !important;
}

.active-search {
	border: 2px solid var(--PrimaryColor);
}

.active-search .close-search {
	display: initial;
}

.active-search div svg path {
	fill: var(--PrimaryColor)
}

.rem-form button {
	height: 36px;
	width: 36px;
	border-radius: 10px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-button svg path {
	fill: var(--Black);
}

.box{
  width: 500px;
}

.text{
  margin-bottom: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.14);
  outline: none;
}

.text:focus{
  border: 2px solid var(--PrimaryColor);
  color: var(--PrimaryColor);
}

@media(max-width: 480px) {
	.active-search {
		position: absolute;
		left: 1rem;
		margin-left: 0;
		z-index: 16;
		justify-content: space-evenly;
		width: calc(100vw - 2rem);
	}
}
