.events{
    
    text-align: center;
    background-color: rgb(192, 235, 211);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: rgba(148, 147, 89, 0.24) 10px 2px 5px;
    
}
 .event{
    
    text-align: center;
    background-color: rgb(192, 235, 211);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: rgba(148, 147, 89, 0.24) 10px 2px 5px;
    
}


.eventname{
    background-color: rgb(194, 194, 211);
    height: 225px;
    max-width:325px ;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    border-radius: 10px;
    margin-top: 10px;
}
.eventweek{
    background-color: #e99797;
    margin-left: 0.9rem;
    margin-top: 1rem;
    border-radius: 5px;
    display: inline-block;
    max-width: 360px;
    height :fit-content;
    
}
.eventheading span{
float: right;
    margin-right: 1rem;
    
}
.eventheading{

  
    margin: 0.5rem;
}
@media(max-width:900px)
{
    .events{
    width:calc(100vw - 1rem);
   display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 1rem;
  overflow-y: hidden;
 
    
}
}
@media(max-width:550px)
{
    .events{
    width:calc(100vw - 1rem);
   display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 1rem;
  overflow-y: hidden;
 

    margin-left: 1rem;
    margin: 1rem;}
}

@media(max-width:900px){
    .eventname{
    width:90%;
    }
.eventweek{
   width:100%; 

    
}
}
