.event{
    
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  overflow-y: hidden;
  padding: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
    
}


.eventname{
    background-color: rgb(194, 194, 211);
    height: 225px;
    max-width:325px ;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    border-radius: 10px;
    margin-top: 10px;
}

.eventweek{
    background-color: #e99797;
    margin-left: 0.9rem;
    margin-top: 1rem;
    border-radius: 5px;
    display: inline-block;

    width:auto;

    max-width: 360px;

    height :fit-content;
    
}

.eventname{
    background-color: rgb(194, 194, 211);
    height: 250px;
    width:93%;
    margin-left: 0.7rem;
    border-radius: 10px;
    margin-top: 10px;
}
.eventheading span{
float: right;
    margin-right: 1rem;
    
}
.eventheading{
  
    margin: 0.5rem;
}
@media(max-width:900px)
{
    .event{
    width:calc(100vw - 1rem);
   display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 1rem;
  overflow-y: hidden;
 
    
}
}
@media(max-width:550px)
{
    .event{
    width:calc(100vw - 1rem);
   display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 1rem;
  overflow-y: hidden;
 
    
}
}


