.about1{

    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.about2{

    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: chocolate;
}
.about4{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.about3{
    text-align: center;
  
}
.about5{
  
    display:grid;
   grid-template-columns:1fr 1fr 1fr;
   grid-gap:2rem;
}

.role

{
    font-weight: lighter;


}
.faculty{
    font-size: large;
    display:inline-block;

}
.name{
    font-size: larger;
    color: rgb(197, 33, 33);
}

