.about{
    margin:17%;
    margin-top:10%;
}

.aboutpara{

    text-align: center;
    justify-content: center;
    margin: 8%;
    margin-top: 7%;
       
 
}

.aboutpara h2 {
	font-size: 1.3rem;
}

.abouttitle{

        text-align: center;
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 600;
    color: var(--PrimaryColor);
    font-family: Poppins;
}
.aboutimage{
    position:relative;
    margin:auto;
    width: 70px;
    height: 80px;
    background-color:grey;
    border-radius: 10px;

}
img{
    border-radius:10px;
}
.aboutcontent{
    text-align: center;
  
}
.aboutcontainer{
  
    display:grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
   grid-gap:5rem;
}

.role

{
    font-weight: bold;


}
.faculty{
    font-size: large;
    /* font-weight:lighter; */
    color:grey;
    display:inline-block;

}

.aboutdata {
	margin-top: 0.5rem;
}

.name{
    font-size: larger;
   color: #4bb54f;
}
@media (max-width:500px)
{
    .aboutpara{
        position:relative;
    text-align: center;
    justify-content: center;
    margin: 10%;
    margin-top: 42%;
 
}
  .aboutcontainer{
  
    display:grid;
   grid-template-columns:1fr 1fr;
   grid-gap:2rem;
}  
}
