.tray{
  display: flex;
  overflow-y: hidden;
  padding: 5px;
  margin-left: 1rem;
}

.note-card {
  width: 150px;
  height: 200px;
  background-color:rgb(213, 238, 213);
  padding: 20px;
  border-radius: 5px;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-md{
  background-color:#918f8f94;
}

@media screen and (max-width: 600px) {
  
  .choice{
  width:90%;
  margin:5px;
 
}
}




@media(max-width: 480px){
  .tray{
    width: calc(100vw - 1rem) ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
  }
 

  .note-card{
    margin-bottom: 0.8rem;
    margin-right: 1rem;
    /*width: calc(100vw*0.4 - 2rem - 10px);*/
    width:auto;
  }

}



.selection{
   margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.subject{
  margin-left:15px;
}

.choice{
  margin-right:0px;
  padding:15px;
  color:#0ee40e;
  border:2px solid #0ee40e;
  font-size:16px;
  font-weight:200;
  border-radius:8px;
  margin-left:2rem;
}
