.App {
  z-index: 0;
}

.notify-md {
  font-size: 14px;
  width: auto;
  padding: 12px;
  background-color: white;
  color: var(--Black);
  border-radius: 5px;
  display: flex;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
}

.icon {
	background-color: var(--PrimaryColor);
	height: 37px;
	width: 36px;
	border-radius: 100%;
	flex-shrink: 0;
	margin-right: 1rem;
}

.notify-md::before {
	content: "";
	height: 100%;
	width: 3px;
	position: absolute;
	border-radius: 5px 0 0 5px;
	top: 0;
	left: 0;
	background-color: var(--PrimaryColor);
}
