@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "Poppins", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: unset;

  /* Global Variables */
  --PrimaryColor: #6fcf97;
  --Black: #333333;
  --Grey: #bdbdbd;
  --White: #ffffff;

  /* BreakPoints */
  --Phone: 480px;
  --Tablet: 768px;
}

body {
  margin: auto;
  overflow: unset;
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 0.9rem;
  color: var(--Grey);
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}

.card {
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: var(--PrimaryColor);
  border-radius: 5px;
  color: var(--White);
  line-height: 120%;
}

.button,
button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 0.45rem;
  background-color: var(--PrimaryColor);
  color: var(--White);
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Poppins";
  cursor: pointer;
}

.active_class {
  color: var(--PrimaryColor);
}

input {
  border: 2px solid red;
  border-style: none;
  border-radius: 10px;
}

.explore {
  background-position: center;
  transition: background 0.8s;
}
.explore:hover {
  background: var(--PrimaryColor)
    radial-gradient(circle, transparent 1%, #82c888 1%) center/15000%;
  color: white;
}
.explore:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
  opacity: 0.3;
}

.wrapper {
  min-height: calc(100% - 3rem);

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -150px;
}
.footer,
.push {
  height: 150px;
}

.footer {
  font-size: 0.9rem;
  padding-top: 0.5rem;
  color: white;
  margin-top: 1rem;
  background-color: var(--Black);
}
