@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  font-family: 'Poppins','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow:auto;

  /* Global Variables */
  --PrimaryColor : #6FCF97;
  --Black : #333333;
  --Grey : #BDBDBD;
  --White : #ffffff;

  /* BreakPoints */
  --Phone: 480px;
  --Tablet: 768px;
}

body {
  margin: auto;
  
}

h1, h2, h3, h4, h5{
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 0.9rem;
  color : var(--Grey);

}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.card{
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: var(--PrimaryColor);
  border-radius: 5px;
  color: var(--White);
  line-height: 120%;
}


button{
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: var(--PrimaryColor);
  color: var(--White);
  height: 2.5rem;
  width: 9rem;
  font-size: 1rem;
  font-family: "Poppins";
  cursor:pointer
}
.active_class{
  color: var(--PrimaryColor);
}
